<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/layout/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Home' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('datas')">
                <span><i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Data Management' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'datas'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/layout/datas']" [routerLinkActive]="['router-link-active']" ><span>{{ 'Data Check' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('scheduler')">
                <span><i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Scheduler' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'scheduler'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/layout/scheduler']" [routerLinkActive]="['router-link-active']"><span>{{ 'Schedule Check' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('qna')">
                <span><i class="fa fa-fw fa-envelope"></i>&nbsp;{{ 'Q&A' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'qna'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/layout/qna']"><span>{{ 'Contact us' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/layout/qna']"><span>{{ 'Subscribe' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/layout/about']" [routerLinkActive]="['router-link-active']" class="list-group-item more-themes">
            {{ 'About' | translate }}
        </a>
    </ul>
</nav>
