<div [@routerTransition]>
    <h2 class="text-muted">CheckMate <small>Service information & Chatting</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <a [href]="slider.hrefUrl" target="_blank"><img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"></a>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-table'" [count]="12" [label]="'Data Management'" ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-edit'" [count]="124" [label]="'Scheduler'" ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-comments'" [count]="26" [label]="'Q&A'" ></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-12">
        <!--    <div class="card card-default">
            	<app-chat></app-chat>
            </div>  -->
        </div>
    </div>
</div>
