<div [@routerTransition]> 
    <span (click)="qrPrint()">QR Print</span>
    <div id="qrprint.print" hidden>
      <span style="float:left;" *ngIf="qrStatus_0"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[0]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_1">
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[1]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_2"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[2]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_3"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[3]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_4"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[4]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_5"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[5]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_6"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[6]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_7">
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[7]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_8"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[8]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_9"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[9]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_10"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[10]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_11"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[11]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_12"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[12]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_13">
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[13]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_14"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[14]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_15"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[15]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_16"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[16]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_17"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[17]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_18"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[18]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_19">
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[19]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_20"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[20]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_21"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[21]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_22"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[22]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_23"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[23]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_24"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[24]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_25">
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[25]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_26"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[26]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_27"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[27]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_28"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[28]"></ngx-qrcode>
      </span>
      <span style="float:left;" *ngIf="qrStatus_29"> 
        <ngx-qrcode [qrc-element-type]="selectedQRType" [qrc-value]="selectedQRs[29]"></ngx-qrcode>
      </span>
    </div>
</div>
